[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mikropml"]
	path = mikropml
	url = https://github.com/schlosslab/mikropml
[submodule "schtools"]
	path = schtools
	url = https://github.com/schlosslab/schtools
